DB_TYPE=''
DB_HOST=''
DB_PORT=
DB_USER=''
DB_PASSWORD=''
DB_NAME=''
DB_SYNCHRONIZE=''

JWT_SECRET='random string'
JWT_ACCESS_TOKEN_TTL='60s'
JWT_REFRESH_TOKEN_TTL_VALUE='7'
JWT_REFRESH_TOKEN_TTL_UNIT='d'

EMAIL_HOST=''
EMAIL_HOST_USER=''
EMAIL_HOST_PASSWORD=''
